<div class="listrow">
  <a class="listrow-link" href="<%- config.root %><%- item.path %>">
    <span class="listrow-title">
      <%- item.title || theme.default_post_title || "Untitled" %>
    </span>
    <span class="listrow-date">
      <%- date(item.date || '' ) %>
    </span>
  </a>
</div>